# üîß Feature Engineering - Pr√©diction Churn Orange

**Objectif** : Cr√©er des features avanc√©es pour am√©liorer la performance des mod√®les

## üéØ Features √† Cr√©er

### 1. Variables RFM (Recency, Frequency, Monetary)
- `tenure_group` : Cat√©gorisation anciennet√© (Nouveau/Moyen/Fid√®le)
- `monthly_to_total_ratio` : Ratio charges mensuelles/totales
- `revenue_per_tenure` : Revenu moyen par mois d'anciennet√©

### 2. Variables Comportementales
- `total_services` : Nombre total de services actifs
- `has_premium_services` : Au moins un service premium (0/1)
- `has_multiple_lines` : Lignes multiples (0/1)

### 3. Variables Contractuelles
- `is_month_to_month` : Contrat mensuel (0/1)
- `has_paperless_billing` : Facturation √©lectronique (0/1)
- `payment_method_encoded` : Encodage m√©thode paiement

### 4. Variables D√©mographiques
- `is_senior` : Senior citizen (0/1)
- `has_family` : Avec partenaire ou d√©pendants (0/1)
- `demographic_risk` : Score de risque d√©mographique

### 5. Variables Financi√®res
- `charges_category` : Cat√©gorie de d√©penses (Low/Medium/High)
- `total_charges_clean` : TotalCharges converti en num√©rique

---

**Dataset principal** : IBM Telco (7,043 clients)

In [1]:
# ============================================
# IMPORTS & CONFIGURATION
# ============================================

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import warnings

# Configuration
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
warnings.filterwarnings('ignore')

# Style
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (14, 6)

print("‚úÖ Imports r√©ussis")
print(f"üì¶ Pandas : {pd.__version__}")
print(f"üì¶ Numpy  : {np.__version__}")

‚úÖ Imports r√©ussis
üì¶ Pandas : 2.1.4
üì¶ Numpy  : 1.25.2

In [2]:
# ============================================
# CHARGEMENT DONN√âES
# ============================================

# Charger dataset principal
df = pd.read_csv("../donnees/brutes/telco_customer_churn_ibm.csv")

print("="*80)
print("üìä DATASET CHARG√â")
print("="*80)
print(f"‚úÖ Shape      : {df.shape}")
print(f"‚úÖ M√©moire    : {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
print("="*80)

# Aper√ßu
print("\nüëÄ APER√áU:")
display(df.head(3))

# Cr√©er copie pour feature engineering (garder original intact)
df_features = df.copy()

print("\n‚úÖ Copie cr√©√©e pour feature engineering")

================================================================================
üìä DATASET CHARG√â
================================================================================
‚úÖ Shape      : (7043, 21)
‚úÖ M√©moire    : 7.79 MB
================================================================================

üëÄ APER√áU:

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

‚úÖ Copie cr√©√©e pour feature engineering

In [3]:
# ============================================
# NETTOYAGE : TotalCharges
# ============================================

print("="*80)
print("üîß NETTOYAGE TOTALCHARGES")
print("="*80)

# TotalCharges est parfois en string avec espaces
print(f"\nType actuel : {df_features['TotalCharges'].dtype}")
print(f"Valeurs uniques : {df_features['TotalCharges'].nunique()}")

# Conversion en num√©rique (les espaces deviennent NaN)
df_features['TotalCharges'] = pd.to_numeric(
    df_features['TotalCharges'], 
    errors='coerce'
)

# V√©rifier valeurs manquantes
missing = df_features['TotalCharges'].isnull().sum()
print(f"\n‚ö†Ô∏è  Valeurs manquantes apr√®s conversion : {missing}")

if missing > 0:
    # Remplacer NaN par 0 (nouveaux clients)
    # Alternative : remplacer par MonthlyCharges (estimation)
    df_features['TotalCharges'].fillna(
        df_features['MonthlyCharges'], 
        inplace=True
    )
    print(f"‚úÖ NaN remplac√©s par MonthlyCharges (nouveaux clients)")

print(f"\n‚úÖ TotalCharges converti en : {df_features['TotalCharges'].dtype}")
print(f"‚úÖ Min: {df_features['TotalCharges'].min():.2f}")
print(f"‚úÖ Max: {df_features['TotalCharges'].max():.2f}")
print(f"‚úÖ Moyenne: {df_features['TotalCharges'].mean():.2f}")
print("="*80)

================================================================================
üîß NETTOYAGE TOTALCHARGES
================================================================================

Type actuel : object
Valeurs uniques : 6531

‚ö†Ô∏è  Valeurs manquantes apr√®s conversion : 11
‚úÖ NaN remplac√©s par MonthlyCharges (nouveaux clients)

‚úÖ TotalCharges converti en : float64
‚úÖ Min: 18.80
‚úÖ Max: 8684.80
‚úÖ Moyenne: 2279.80
================================================================================

In [4]:
# ============================================
# FEATURE ENGINEERING : VARIABLES RFM
# ============================================

print("\n" + "="*80)
print("üî® CR√âATION FEATURES RFM")
print("="*80)

# 1. Tenure Groups (cat√©gorisation anciennet√©)
df_features['tenure_group'] = pd.cut(
    df_features['tenure'],
    bins=[0, 12, 24, 48, 72],
    labels=['0-12 mois', '12-24 mois', '24-48 mois', '48+ mois']
)

# 2. Monthly to Total Ratio
df_features['monthly_to_total_ratio'] = (
    df_features['MonthlyCharges'] / 
    (df_features['TotalCharges'] + 1)  # +1 pour √©viter division par z√©ro
)

# 3. Revenue per Tenure Month
df_features['revenue_per_tenure'] = (
    df_features['TotalCharges'] / 
    (df_features['tenure'] + 1)  # +1 pour √©viter division par z√©ro
)

# 4. Charges Category
df_features['charges_category'] = pd.cut(
    df_features['MonthlyCharges'],
    bins=[0, 35, 70, 120],
    labels=['Low', 'Medium', 'High']
)

print("\n‚úÖ Features RFM cr√©√©es:")
print(f"   ‚Ä¢ tenure_group            : {df_features['tenure_group'].nunique()} cat√©gories")
print(f"   ‚Ä¢ monthly_to_total_ratio  : ratio continu")
print(f"   ‚Ä¢ revenue_per_tenure      : {df_features['revenue_per_tenure'].min():.2f} √† {df_features['revenue_per_tenure'].max():.2f}")
print(f"   ‚Ä¢ charges_category        : {df_features['charges_category'].nunique()} cat√©gories")

# Aper√ßu
print("\nüìä Aper√ßu Features RFM:")
display(df_features[['tenure', 'tenure_group', 'MonthlyCharges', 
                      'TotalCharges', 'monthly_to_total_ratio', 
                      'revenue_per_tenure', 'charges_category']].head())

print("="*80)

================================================================================
üî® CR√âATION FEATURES RFM
================================================================================

‚úÖ Features RFM cr√©√©es:
   ‚Ä¢ tenure_group            : 4 cat√©gories
   ‚Ä¢ monthly_to_total_ratio  : ratio continu
   ‚Ä¢ revenue_per_tenure      : 9.18 √† 118.97
   ‚Ä¢ charges_category        : 3 cat√©gories

üìä Aper√ßu Features RFM:

,tenure,tenure_group,MonthlyCharges,TotalCharges,monthly_to_total_ratio,revenue_per_tenure,charges_category
0,1,0-12 mois,29.85,29.85,0.967585,14.925000,Low
1,34,24-48 mois,56.95,1889.50,0.030124,53.985714,Medium
2,2,0-12 mois,53.85,108.15,0.493358,36.050000,Medium
3,45,24-48 mois,42.30,1840.75,0.022967,40.016304,Medium
4,2,0-12 mois,70.70,151.65,0.463151,50.550000,High

================================================================================

In [5]:
# ============================================
# FEATURE ENGINEERING : VARIABLES COMPORTEMENTALES
# ============================================

print("\n" + "="*80)
print("üî® CR√âATION FEATURES COMPORTEMENTALES")
print("="*80)

# Liste des services
services = [
    'PhoneService', 'MultipleLines', 'InternetService',
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies'
]

# 1. Total Services (compter "Yes")
df_features['total_services'] = 0
for service in services:
    if service in df_features.columns:
        df_features['total_services'] += (df_features[service] == 'Yes').astype(int)

# 2. Has Premium Services
premium_services = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport']
df_features['has_premium_services'] = 0
for service in premium_services:
    if service in df_features.columns:
        df_features['has_premium_services'] += (df_features[service] == 'Yes').astype(int)

df_features['has_premium_services'] = (df_features['has_premium_services'] > 0).astype(int)

# 3. Has Multiple Lines
df_features['has_multiple_lines'] = (df_features['MultipleLines'] == 'Yes').astype(int)

# 4. Has Internet Service
df_features['has_internet'] = (df_features['InternetService'] != 'No').astype(int)

# 5. Has Streaming Services
df_features['has_streaming'] = (
    ((df_features['StreamingTV'] == 'Yes') | (df_features['StreamingMovies'] == 'Yes'))
).astype(int)

print("\n‚úÖ Features Comportementales cr√©√©es:")
print(f"   ‚Ä¢ total_services         : 0 √† {df_features['total_services'].max()} services")
print(f"   ‚Ä¢ has_premium_services   : {df_features['has_premium_services'].sum()} clients avec premium")
print(f"   ‚Ä¢ has_multiple_lines     : {df_features['has_multiple_lines'].sum()} clients")
print(f"   ‚Ä¢ has_internet           : {df_features['has_internet'].sum()} clients")
print(f"   ‚Ä¢ has_streaming          : {df_features['has_streaming'].sum()} clients")

# Distribution
print("\nüìä Distribution Total Services:")
print(df_features['total_services'].value_counts().sort_index())

print("="*80)

================================================================================
üî® CR√âATION FEATURES COMPORTEMENTALES
================================================================================

‚úÖ Features Comportementales cr√©√©es:
   ‚Ä¢ total_services         : 0 √† 8 services
   ‚Ä¢ has_premium_services   : 4250 clients avec premium
   ‚Ä¢ has_multiple_lines     : 2971 clients
   ‚Ä¢ has_internet           : 5517 clients
   ‚Ä¢ has_streaming          : 3499 clients

üìä Distribution Total Services:
total_services
0      80
1    1701
2    1188
3     965
4     922
5     908
6     676
7     395
8     208
Name: count, dtype: int64
================================================================================

In [6]:
# ============================================
# FEATURES CONTRACTUELLES & D√âMOGRAPHIQUES
# ============================================

print("\n" + "="*80)
print("üî® CR√âATION FEATURES CONTRACTUELLES & D√âMOGRAPHIQUES")
print("="*80)

# CONTRACTUELLES
df_features['is_month_to_month'] = (df_features['Contract'] == 'Month-to-month').astype(int)
df_features['has_paperless_billing'] = (df_features['PaperlessBilling'] == 'Yes').astype(int)

# D√âMOGRAPHIQUES
df_features['is_senior'] = df_features['SeniorCitizen']  # D√©j√† en 0/1
df_features['has_partner'] = (df_features['Partner'] == 'Yes').astype(int)
df_features['has_dependents'] = (df_features['Dependents'] == 'Yes').astype(int)

# Variable composite : Has Family
df_features['has_family'] = (
    (df_features['has_partner'] == 1) | (df_features['has_dependents'] == 1)
).astype(int)

# Demographic Risk Score (plus de facteurs de risque = plus de risque churn)
df_features['demographic_risk'] = (
    df_features['is_senior'] + 
    (1 - df_features['has_family'])  # Pas de famille = risque
).astype(int)

print("\n‚úÖ Features Contractuelles:")
print(f"   ‚Ä¢ is_month_to_month      : {df_features['is_month_to_month'].sum()} clients")
print(f"   ‚Ä¢ has_paperless_billing  : {df_features['has_paperless_billing'].sum()} clients")

print("\n‚úÖ Features D√©mographiques:")
print(f"   ‚Ä¢ is_senior              : {df_features['is_senior'].sum()} clients")
print(f"   ‚Ä¢ has_partner            : {df_features['has_partner'].sum()} clients")
print(f"   ‚Ä¢ has_dependents         : {df_features['has_dependents'].sum()} clients")
print(f"   ‚Ä¢ has_family             : {df_features['has_family'].sum()} clients")
print(f"   ‚Ä¢ demographic_risk       : 0 √† {df_features['demographic_risk'].max()}")

print("="*80)

================================================================================
üî® CR√âATION FEATURES CONTRACTUELLES & D√âMOGRAPHIQUES
================================================================================

‚úÖ Features Contractuelles:
   ‚Ä¢ is_month_to_month      : 3875 clients
   ‚Ä¢ has_paperless_billing  : 4171 clients

‚úÖ Features D√©mographiques:
   ‚Ä¢ is_senior              : 1142 clients
   ‚Ä¢ has_partner            : 3402 clients
   ‚Ä¢ has_dependents         : 2110 clients
   ‚Ä¢ has_family             : 3763 clients
   ‚Ä¢ demographic_risk       : 0 √† 2
================================================================================

In [11]:
# ============================================
# ENCODAGE VARIABLE CIBLE
# ============================================

print("\n" + "="*80)
print("üéØ ENCODAGE TARGET : CHURN")
print("="*80)

# Cr√©er version binaire (0/1)
df_features['Churn_binary'] = (df_features['Churn'] == 'Yes').astype(int)

print(f"\n‚úÖ Churn encod√©:")
print(f"   ‚Ä¢ Original (string)  : {df_features['Churn'].dtype}")
print(f"   ‚Ä¢ Binaire (int)      : {df_features['Churn_binary'].dtype}")

print(f"\nüìä Distribution:")
print(df_features['Churn_binary'].value_counts())
print(f"\nTaux de churn : {df_features['Churn_binary'].mean()*100:.2f}%")

print("="*80)

================================================================================
üéØ ENCODAGE TARGET : CHURN
================================================================================

‚úÖ Churn encod√©:
   ‚Ä¢ Original (string)  : object
   ‚Ä¢ Binaire (int)      : int64

üìä Distribution:
Churn_binary
0    5174
1    1869
Name: count, dtype: int64

Taux de churn : 26.54%
================================================================================

In [13]:
# ============================================
# R√âSUM√â FEATURES ENGINEERING
# ============================================

print("\n" + "="*80)
print("üìä R√âSUM√â FEATURES CR√â√âES")
print("="*80)

# Colonnes originales vs nouvelles
cols_originales = df.columns.tolist()
cols_nouvelles = [col for col in df_features.columns if col not in cols_originales]

print(f"\n‚úÖ Colonnes originales  : {len(cols_originales)}")
print(f"‚úÖ Nouvelles features   : {len(cols_nouvelles)}")
print(f"‚úÖ Total colonnes       : {len(df_features.columns)}")

print(f"\nüìã NOUVELLES FEATURES ({len(cols_nouvelles)}):")
for i, col in enumerate(cols_nouvelles, 1):
    dtype = str(df_features[col].dtype)  # ‚Üê CORRECTION ICI
    nunique = df_features[col].nunique()
    print(f"   {i:2d}. {col:30s} ({dtype:15s}) - {nunique:4d} valeurs uniques")

# Taille m√©moire
print(f"\nüíæ M√âMOIRE:")
print(f"   ‚Ä¢ Avant : {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
print(f"   ‚Ä¢ Apr√®s : {df_features.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

# Aper√ßu des nouvelles features
print(f"\nüëÄ APER√áU NOUVELLES FEATURES:")
display(df_features[cols_nouvelles].head())

print("="*80)

================================================================================
üìä R√âSUM√â FEATURES CR√â√âES
================================================================================

‚úÖ Colonnes originales  : 21
‚úÖ Nouvelles features   : 17
‚úÖ Total colonnes       : 38

üìã NOUVELLES FEATURES (17):
    1. tenure_group                   (category       ) -    4 valeurs uniques
    2. monthly_to_total_ratio         (float64        ) - 6782 valeurs uniques
    3. revenue_per_tenure             (float64        ) - 6660 valeurs uniques
    4. charges_category               (category       ) -    3 valeurs uniques
    5. total_services                 (int64          ) -    9 valeurs uniques
    6. has_premium_services           (int64          ) -    2 valeurs uniques
    7. has_multiple_lines             (int64          ) -    2 valeurs uniques
    8. has_internet                   (int64          ) -    2 valeurs uniques
    9. has_streaming                  (int64          ) -    2 valeurs uniques
   10. is_month_to_month              (int64          ) -    2 valeurs uniques
   11. has_paperless_billing          (int64          ) -    2 valeurs uniques
   12. is_senior                      (int64          ) -    2 valeurs uniques
   13. has_partner                    (int64          ) -    2 valeurs uniques
   14. has_dependents                 (int64          ) -    2 valeurs uniques
   15. has_family                     (int64          ) -    2 valeurs uniques
   16. demographic_risk               (int64          ) -    3 valeurs uniques
   17. Churn_binary                   (int64          ) -    2 valeurs uniques

üíæ M√âMOIRE:
   ‚Ä¢ Avant : 7.79 MB
   ‚Ä¢ Apr√®s : 8.24 MB

üëÄ APER√áU NOUVELLES FEATURES:

,tenure_group,monthly_to_total_ratio,revenue_per_tenure,charges_category,total_services,has_premium_services,has_multiple_lines,has_internet,has_streaming,is_month_to_month,has_paperless_billing,is_senior,has_partner,has_dependents,has_family,demographic_risk,Churn_binary
0,0-12 mois,0.967585,14.925000,Low,1,1,0,1,0,1,1,0,1,0,1,0,0
1,24-48 mois,0.030124,53.985714,Medium,3,1,0,1,0,0,0,0,0,0,0,1,0
2,0-12 mois,0.493358,36.050000,Medium,3,1,0,1,0,1,1,0,0,0,0,1,1
3,24-48 mois,0.022967,40.016304,Medium,3,1,0,1,0,0,0,0,0,0,0,1,0
4,0-12 mois,0.463151,50.550000,High,1,0,0,1,0,1,1,0,0,0,0,1,1

================================================================================